    font-family: 'Raleway', sans-serif;
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border:1px solid black;
}
body {
    width:1440px;
    height:2335px;
}


/*H1 AND P STYLING************/

.title {
    font-size:2.5rem;
    font-family: 'Raleway', sans-serif;
}
.info {
    font-size:1.1rem;
    font-family: 'Open Sans', sans-serif;
}


/*NAVBAR*********************/
.nav {
    width:100%;
    height:80px;
}
.nav_container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_links {
    border:1px solid;
    margin:0 30px;
}
.nav_links a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;;
}



/*HERO*********************/
.bg_curved {
    width:100%;
    height:100%;
}
.bg_curved img{
    position: relative;
    top:5px;
    border-bottom:20px solid #F8F8FE;
    width:100%;
    height:100%;
}
.hero1 {
    width:1440px;
    height:600px;
}
.hero1_container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.hero2_container {
    border:1px solid;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F8F8FE;
}
.hero1_box  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:720px;
    height:600px;
    
}
.hero_image {
    width:100%;
    height:100%;
}

.fylo_link  {
    color:green;
    font-size:1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.hero2 {
    width:1440px;
    height:600px;
}

/*QUOTE BOX*********************/

.quote_parent {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.quote_box {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:350px;
    height:200px;
    background-color: white;
    box-shadow: 5px 5px 10px;
    border-radius:5px;
}
.quote_bottom {
    display:flex;
    flex-direction: row;
}
.avatar {
    width:40px;
    height:40px;
    border-radius: 50%;
}
.avatar img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.identity {
    display:flex;
    flex-direction: column;
}
.name {

}
.job {
    color:hsl(0, 0%, 75%);
}

/*FORM BOX STYLE****************/
.form_box {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.form {
    width:320px;
    height:40px;
    border-radius:5px;
}
.btn {
    border:none;
    outline:none;
    width:200px;
    height:50px;
    border-radius:5px;
    background-color: #2E65F9;
    color:white;
}



/*CONTENT************************/
.content {
    width:1440px;
    height:325px;
    background-color:#575989;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content_container {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
}
.content_box {
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.form2 {
    width:480px;
    height:40px;
}
.content_title {
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.content_info {
    color:hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
}


/*FOOTER************************/




/*FOOTER 1*************/
.footer {
    width:100%;
    height:400px;
    background-color: #07043B;
}
.footer_container {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}
.footer_box1 {
    width:33.33%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.foot {
    width:190px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer_logo {
    width:100%;
    height:100%;
}
.phone_box {
    color:hsl(0, 0%, 75%);
    width:350px;
    height:40px;
    display:flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
}
.loogo {
    width:30px;
    height:30px;
}



/*FOOTER 2*****************/
.footer_box2 {
    width:33.33%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display:grid;
    grid-template-columns: auto auto;
}
.grid-item {
    display:flex;
    align-items: center;
    width:200px;
    height:30px;
    color:hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
}


/*FOOTER 3************/

.footer_box3 {
    width:33.33%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.circle {
    height:30px;
    width:30px;
    border-radius: 50%;
    border:1px solid hsl(0, 0%, 75%);
    margin:0 10px;
}
